.banner{
    background:hsl(220, 98%, 61%);
    height: 200px;
    min-width: 100%;
    font-size: 26px;
    color: white;
    letter-spacing: .7rem;
    font-family: 'JosefinSans';
    position:relative;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
}



.banner:before{
  content: '';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: linear-gradient(265deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  opacity: 0.4;
}
  
.items{
  margin-top: -80px;
  width: 85%;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

img{
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
  
@media (max-width: 375px) {
  .banner-dark{
    background-image:url("../../../public/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .banner-light{
    background-image:url("../../../public/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
  
}

@media (min-width: 376px) {
  .banner-dark{
    background-image:url("../../../public/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .banner-light{
    background-image:url("../../../public/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}